<header class="container">
  <h1>Angular Testing</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nihil adipisci commodi itaque. Eos labore consequuntur at maxime, repellendus iste sunt, aspernatur voluptatibus incidunt, qui mollitia. Perferendis numquam ratione officia.</p>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a routerLink="/products">Productos</a></li>
      <li><a routerLink="/pico-preview">Pico preview</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>